<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      Refract.<span class="action">eu</span>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu"><i class="fa fa-bars left"></i>MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><%= link_to "ABOUT REFRACT", "about.html" %></li>
        <li class="nav-link"><%= link_to "MEMBERS", "members.html" %></li>
        <li class="nav-link"><%= link_to "EVENTS", "events.html" %></li>
        <li class="nav-link"><%= link_to "OUTPUT", "output.html" %></li>
        <li class="nav-link"><%= link_to "CONTACT", "contact.html" %></li>
      </ul>
    </nav>
  </div>
</header>

